.container {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
.flex-box-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 10px; */
}
.flex-box-container img {
	padding: 10px;
	width: 30%;
}
